<!DOCTYPE html>
<html>
<head>
<title>SampleCartPrototype</title>
	<%= stylesheet_link_tag "scaffold" %>
	<%= stylesheet_link_tag "depot" , :media => "all" %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body id="store" class='<%= controller.controller_name %>'>
<div id="banner">
	<%= image_tag("/images/logo.gif" ) %>
	<%= @page_title || "SAMPLE CART PROTOTYPE" %>
</div>
<div id="columns">
<div id="side">
	<a href="http://localhost:3000/">Home</a><br />
	<a href="http://localhost:3000/products">Products</a><br />
	
</div>
<div id="main">
	<%= yield %>
</div>
</div>
</body>
</html>
